body {
  color: #eee !important;
}

.seat-wrapper {
  display: block;
  color: #eee;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-content: center;
  /* grid-template-rows: (10, 1fr); */
}

.monitor {
  background-color: #393e46;
  color: #858b94;
}

.seats {
  width: 100%;
  
}

.fa-couch {
  font-size: 1.2rem;
  color: #00adb5;
  line-height: 1.5 !important;

  /* padding: 0 !important; */
}

.sold {
  color: #393e46;
}

.selected {
  color: #eeeeee;
  /* border: 2px solid #cacaff; */
}

.monitor {
  border-radius: 100px 100px 0px 0px;
}

.left {
  /* background-color: #393e46; */
  /* position: relative; */
}

.book-now-btn {
  background-color: #00adb5 !important;
}

.back {
  background-color: #393e46 !important;
  color: #00adb5 !important;
}

.screen-img {
  margin-bottom: -16rem;
}

/* #222831 super dark
#393e46 dark 
#00adb5 sky blue
eeeeee white
*/
